{% extends 'base.html.twig' %}

{% block body %}
    <h1> {{ title }} </h1>
<p> Créer des offres d'emplois ou partager votre CV en ligne avec des milliers d'utilisateurs venues du monde entier! </p>
<p> Il y a actuellement {{ article | length }} offres d'emplois sur le site! </p>
{% endblock %}